# Compilação e Build
build/
bin/
obj/
*.o
*.obj
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.out
*.app

# Build directories alternativos e de suporte
Build/
build-*/
vcpkg_installed/

# Arquivos de IDE (VS Code, Visual Studio, CLion)
.vscode/
.vs/
*.suo
*.user
*.filters
*.dwo

# CMake gerados e arquivos de compilação
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
Testing/
.cache/

# Arquivos temporários e logs
*.tmp
*.log
*.bak
*.swp
*.d
*.slo
*.lo
*.gch
*.pch
*.ilk
*.pdb
*.mod
*.smod
*.lai
*.la

# PROIBIDO: ROMs, ISOs e Assets do Jogo (Segurança contra Copyright)
*.iso
*.gcm
*.ciso
*.bin
*.dol
roms/
assets/
extracted/
